---
openapi: 3.1.1
info:
  title: 'Agent Knowledge - Files'
  version: 2.0.0
  summary: |
    Manage file-based knowledge sources for the AI agent on a specific entity.
  description: |
    This endpoint provides operations for managing file-based knowledge sources in the AI agent knowledge base for a specific entity. Files such as PDFs, text documents, or other supported formats can be uploaded to supplement the agent's knowledge. Supports uploading, listing, retrieving, and deleting files.
  license:
    name: Meta Business AI Terms of Service
    url: |
      https://www.facebook.com/legal/3774714022740775
servers:
  - 
    url: 'https://api.facebook.com/{entity_id}/agent_config/files'
tags:
  - 
    name: Business AI
    description: Business AI API operations
  - 
    name: Knowledge
    description: Knowledge base management
paths:
  /:
    get:
      responses:
        200:
          description: A list of all knowledge base files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFileResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                BAD_REQUEST:
                  value:
                    title: Bad Request
                    detail: Invalid parameters
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                NOT_FOUND:
                  value:
                    title: Not Found
                    detail: Resource not found
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: List knowledge files
      description: |
        Retrieve a list of all files in the AI agent knowledge base for the specified entity
      operationId: listKnowledgeFiles
      tags:
        - Business AI
        - Knowledge
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The WhatsApp Business Phone Number ID for the Meta Business Agent.
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
    post:
      responses:
        201:
          description: The newly uploaded file metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFileResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                BAD_REQUEST:
                  value:
                    title: Bad Request
                    detail: Invalid parameters
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: Upload a knowledge file
      description: |
        Upload a new file to the AI agent knowledge base for the specified entity
      operationId: uploadKnowledgeFile
      tags:
        - Business AI
        - Knowledge
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The WhatsApp Business Phone Number ID for the Meta Business Agent.
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFileRequest'
        required: true
  /{file_id}:
    get:
      responses:
        200:
          description: The requested file metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFileResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                BAD_REQUEST:
                  value:
                    title: Bad Request
                    detail: Invalid parameters
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                NOT_FOUND:
                  value:
                    title: Not Found
                    detail: Resource not found
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: Get a knowledge file
      description: Retrieve a specific file by its ID
      operationId: getKnowledgeFile
      tags:
        - Business AI
        - Knowledge
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The WhatsApp Business Phone Number ID for the Meta Business Agent.
          required: true
          schema:
            type: string
        - 
          name: file_id
          in: path
          description: The unique identifier of the file
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
    delete:
      responses:
        204:
          description: File successfully deleted
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                NOT_FOUND:
                  value:
                    title: Not Found
                    detail: Resource not found
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: Delete a knowledge file
      description: |
        Delete a specific file from the knowledge base by its ID
      operationId: deleteKnowledgeFile
      tags:
        - Business AI
        - Knowledge
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The WhatsApp Business Phone Number ID for the Meta Business Agent.
          required: true
          schema:
            type: string
        - 
          name: file_id
          in: path
          description: The unique identifier of the file
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
components:
  schemas:
    BizAIOmniChannelKnowledgeFileRequest:
      type: object
      required:
        - file_name
        - file
      properties:
        file_name:
          type: string
          description: The name of the file being uploaded
          example: product-guide.pdf
        file:
          type: string
          format: binary
          description: |-
            The file to be uploaded.
            
            Maximum file size: 100000000 bytes.
            
            Supported file types:
            - .pdf
            - .doc
            - .docx
            - .png
            - .jpg
            - .jpeg
            - .csv, when CSV extraction is enabled for the WhatsApp asset
            - .xlsx, when XLSX extraction is enabled for the WhatsApp asset
    BizAIOmniChannelKnowledgeFileResponse:
      type: object
      required:
        - id
        - file_name
      properties:
        id:
          type: string
          description: The unique identifier for this file
          example: '1234567890'
        file_name:
          type: string
          description: The name of the file
          example: product-guide.pdf
    StandardError:
      type: object
      required:
        - title
        - detail
      properties:
        title:
          type: string
        detail:
          type: string
        type:
          type: string
        status:
          type: integer
  securitySchemes:
    OAuthToken__Authorization:
      type: http
      scheme: bearer
security:
  - 
    OAuthToken__Authorization: [ ]
