---
openapi: 3.1.1
info:
  title: Agent Allowlist
  version: 2.0.0
  summary: |
    Manage consumer phone number allowlist for the AI agent on a specific entity.
  description: |
    This endpoint manages the consumer phone number allowlist for the AI agent on a specific entity. When the AIAudience setting is set to ALLOWLISTED_ONLY, the agent only responds to consumers whose phone numbers are in this list. Uses POST to add entries, GET to list all entries, and DELETE to remove individual entries.
  license:
    name: Meta Business AI Terms of Service
    url: |
      https://www.facebook.com/legal/3774714022740775
servers:
  - 
    url: 'https://api.facebook.com/{entity_id}/agent_config/allowlist'
tags:
  - 
    name: Agent Config
    description: Agent configuration and settings
  - 
    name: Business AI
    description: Business AI API operations
paths:
  /:
    get:
      responses:
        200:
          description: A list of all allowlist entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BizAIOmniChannelAllowlistResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                BAD_REQUEST:
                  value:
                    title: Invalid request
                    detail: The request is invalid
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: List allowlist entries
      description: |
        Retrieve a list of all allowlisted consumer phone numbers for the specified entity
      operationId: listAllowlist
      tags:
        - Agent Config
        - Business AI
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The entity ID for the Meta Business Agent. It is a WhatsApp Business Phone Number ID.
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
    post:
      responses:
        201:
          description: The newly created allowlist entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BizAIOmniChannelAllowlistResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                BAD_REQUEST:
                  value:
                    title: Invalid request
                    detail: |
                      The request is invalid or the phone number format is not valid
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: Add to allowlist
      description: |
        Add a consumer phone number to the allowlist for the specified entity
      operationId: addToAllowlist
      tags:
        - Agent Config
        - Business AI
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The entity ID for the Meta Business Agent. It is a WhatsApp Business Phone Number ID.
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BizAIOmniChannelAllowlistRequest'
        required: true
  /{entry_id}:
    delete:
      responses:
        204:
          description: Allowlist entry successfully deleted
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                NOT_FOUND:
                  value:
                    title: Allowlist entry not found
                    detail: |
                      The specified allowlist entry was not found
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: Remove from allowlist
      description: |
        Remove a specific allowlist entry by its ID
      operationId: removeFromAllowlist
      tags:
        - Agent Config
        - Business AI
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The entity ID for the Meta Business Agent. It is a WhatsApp Business Phone Number ID.
          required: true
          schema:
            type: string
        - 
          name: entry_id
          in: path
          description: |
            The unique identifier of the allowlist entry
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
components:
  schemas:
    BizAIOmniChannelAllowlistRequest:
      type: object
      required:
        - consumer_phone_number
      properties:
        consumer_phone_number:
          type: string
          description: |
            Consumer WhatsApp phone number in E.164 format (e.g. +15551234567)
          example: '+15551234567'
    BizAIOmniChannelAllowlistResponse:
      type: object
      required:
        - id
        - consumer_phone_number
      properties:
        id:
          type: string
          description: |
            The unique identifier for this allowlist entry
          example: '1234567890'
        consumer_phone_number:
          type: string
          description: |
            Consumer WhatsApp phone number in E.164 format
          example: '+15551234567'
    StandardError:
      type: object
      required:
        - title
        - detail
      properties:
        title:
          type: string
        detail:
          type: string
        type:
          type: string
        status:
          type: integer
  securitySchemes:
    OAuthToken__Authorization:
      type: http
      scheme: bearer
security:
  - 
    OAuthToken__Authorization: [ ]
