---
openapi: 3.1.1
info:
  title: 'Agent Knowledge - FAQs'
  version: 2.0.0
  summary: |
    Manage FAQ entries in the AI agent knowledge base for a specific entity.
  description: |
    This endpoint provides CRUD operations for managing FAQ entries in the AI agent knowledge base for a specific entity. FAQs are question-answer pairs that the agent references when responding to customer queries. Each FAQ entry has a question, answer, optional type, source, and tags. For best results, keep FAQs focused and concise — each entry should address a single, specific question. Adding too many FAQs (generally beyond a few hundred) can degrade the agent's ability to find the right answer. Prioritize the questions your customers ask most frequently and keep answers factual and direct.
  license:
    name: Meta Business AI Terms of Service
    url: |
      https://www.facebook.com/legal/3774714022740775
servers:
  - 
    url: 'https://api.facebook.com/{entity_id}/agent_config/faq'
tags:
  - 
    name: Business AI
    description: Business AI API operations
  - 
    name: Knowledge
    description: Knowledge base management
paths:
  /:
    get:
      responses:
        200:
          description: A list of all FAQ entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFAQResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                BAD_REQUEST:
                  value:
                    title: Bad Request
                    detail: Invalid parameters
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                NOT_FOUND:
                  value:
                    title: Not Found
                    detail: Resource not found
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: List FAQs
      description: |
        Retrieve a list of all FAQ entries for the specified entity
      operationId: listFAQs
      tags:
        - Business AI
        - Knowledge
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The WhatsApp Business Phone Number ID for the Meta Business Agent.
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
    post:
      responses:
        201:
          description: The newly created FAQ entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFAQResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                BAD_REQUEST:
                  value:
                    title: Bad Request
                    detail: Invalid parameters
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: Create an FAQ
      description: |
        Create a new FAQ entry for the specified entity
      operationId: createFAQ
      tags:
        - Business AI
        - Knowledge
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The WhatsApp Business Phone Number ID for the Meta Business Agent.
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFAQRequest'
        required: true
  /{faq_id}:
    get:
      responses:
        200:
          description: The requested FAQ entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFAQResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                BAD_REQUEST:
                  value:
                    title: Bad Request
                    detail: Invalid parameters
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                NOT_FOUND:
                  value:
                    title: Not Found
                    detail: Resource not found
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: Get an FAQ
      description: Retrieve a specific FAQ entry by its ID
      operationId: getFAQ
      tags:
        - Business AI
        - Knowledge
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The WhatsApp Business Phone Number ID for the Meta Business Agent.
          required: true
          schema:
            type: string
        - 
          name: faq_id
          in: path
          description: The unique identifier of the FAQ entry
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
    put:
      responses:
        200:
          description: The updated FAQ entry
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFAQResponse'
        400:
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                BAD_REQUEST:
                  value:
                    title: Bad Request
                    detail: Invalid parameters
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                NOT_FOUND:
                  value:
                    title: Not Found
                    detail: Resource not found
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: Update an FAQ
      description: Update a specific FAQ entry by its ID
      operationId: updateFAQ
      tags:
        - Business AI
        - Knowledge
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The WhatsApp Business Phone Number ID for the Meta Business Agent.
          required: true
          schema:
            type: string
        - 
          name: faq_id
          in: path
          description: The unique identifier of the FAQ entry
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BizAIOmniChannelKnowledgeFAQRequest'
        required: true
    delete:
      responses:
        204:
          description: FAQ entry successfully deleted
        404:
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                NOT_FOUND:
                  value:
                    title: Not Found
                    detail: Resource not found
        401:
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                UNAUTHORIZED:
                  value:
                    title: Unauthorized
                    detail: |
                      Authentication credentials are missing or invalid
        429:
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                TOO_MANY_REQUESTS:
                  value:
                    title: Too Many Requests
                    detail: Rate limit exceeded
        500:
          description: Server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
              examples:
                INTERNAL_SERVER_ERROR:
                  value:
                    title: Internal Server Error
                    detail: An unexpected error occurred
        default:
          description: Error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StandardError'
      summary: Delete an FAQ
      description: Delete a specific FAQ entry by its ID
      operationId: deleteFAQ
      tags:
        - Business AI
        - Knowledge
      parameters:
        - 
          name: entity_id
          in: path
          description: |
            The WhatsApp Business Phone Number ID for the Meta Business Agent.
          required: true
          schema:
            type: string
        - 
          name: faq_id
          in: path
          description: The unique identifier of the FAQ entry
          required: true
          schema:
            type: string
        - 
          name: X-API-Version
          in: header
          required: false
          schema:
            type: string
            enum:
              - 2.0.0
components:
  schemas:
    BizAIOmniChannelKnowledgeFAQRequest:
      type: object
      required:
        - question
        - answer
      properties:
        question:
          type: string
          description: |
            The FAQ question text. Write it as a natural question a customer would ask. Each FAQ should address a single, specific topic. For example, use "What is your return policy?" rather than "Returns, exchanges, and refunds" — the agent matches questions more accurately when they mirror how customers phrase them.
          example: What is your return policy?
        answer:
          type: string
          description: |
            The FAQ answer text. Keep answers factual, concise, and self-contained. Include all the information needed to fully answer the question without requiring the customer to ask follow-ups. Avoid referencing other FAQ entries — the agent retrieves each entry independently.
          example: |
            We offer a 30-day return policy for unused items in their original packaging. To start a return, visit your order history and select the item you want to return. Refunds are processed within 5-7 business days.
        metadata:
          type: object
          description: |
            Key-value metadata associated with this FAQ entry
          additionalProperties:
            type: string
    BizAIOmniChannelKnowledgeFAQResponse:
      type: object
      required:
        - id
        - question
        - answer
      properties:
        id:
          type: string
          description: The unique identifier for this FAQ entry
          example: '1234567890'
        question:
          type: string
          description: The FAQ question text
          example: What is your return policy?
        answer:
          type: string
          description: The FAQ answer text
          example: |
            We offer a 30-day return policy for unused items
        created_at:
          type: integer
          description: The timestamp when the FAQ was created
          example: 1714500000
        metadata:
          type: object
          description: |
            Key-value metadata associated with this FAQ entry
          additionalProperties:
            type: string
    StandardError:
      type: object
      required:
        - title
        - detail
      properties:
        title:
          type: string
        detail:
          type: string
        type:
          type: string
        status:
          type: integer
  securitySchemes:
    OAuthToken__Authorization:
      type: http
      scheme: bearer
security:
  - 
    OAuthToken__Authorization: [ ]
